<h2 class="text-center mt-4">Log in</h2>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "shadow p-3 mb-3 bg-info rounded") do |f| %>

        <div class="form-group row mt-4">
          <%= f.label :email, class: "col-2 col-form-label text-light"%>
          <div class="col-10">
            <%= f.email_field :email, autofocus: true, class: "form-control shadow rounded", placeholder: "Enter your email address"%>
          </div>
        </div>

        <div class="form-group row mt-4">
          <%= f.label :password, class: "col-2 col-form-label text-light"%>
          <div class="col-10">
            <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Enter your password"%>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group row mt-4">
            <%= f.label :remember_me, class: "text-light" %>
            <%= f.check_box :remember_me, class: "col-2 shadow rounded" %>
          </div>
        <% end %>

        <div class="row mt-4 justify-content-center">
          <div class="col-2">
            <%= f.submit "Log in" , class: "btn btn-outline-light btn-log" %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="mt-4 text-center text-info">
        <%= render "devise/shared/links" %>
      </div>
    </div>
</div>