<h1 class="text-center mt-4">Listing all pictures</h1>

<div class="container">
  <% @pictures.each do |picture| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="shadow mb-5 bg-body rounded">
          <div class="card text-center">
            <% if picture.users.any? %>
              <div class="card-header fst-italic">
                Used by:
                <div class="mt-2"><%= render picture.users %></div>
              </div>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to picture.title, picture_path(picture), class: "text-success"%></h5>
              <p class="card-text"><%= truncate(picture.description, length: 100) %></p>
              <button class="btn btn-outline-success"><%= link_to 'Show', picture, class: "text-reset text-decoration-none" %></button>
              <% if user_signed_in? && (current_user.admin? || (picture.users.include? current_user)) %>
                <button class="btn btn-outline-primary"><%= link_to 'Edit', edit_picture_path(picture),  class: "text-reset text-decoration-none" %></button>
                <button class="btn btn-outline-danger"><%= link_to 'Delete', picture, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"},  class: "text-reset text-decoration-none" %></button>
              <% end %>
            </div>
            <div class="card-footer text-muted">
              <small>Created <%= time_ago_in_words(picture.created_at) %> ago,
                edited <%= time_ago_in_words(picture.updated_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="mt-4 text-center">
    <%= link_to "Back", :back %>
  </div>
  <%#=link_to ' Cancel ', user_path(current_user), class: "text-center text-info mb-3"%>
</div>


